@import "tailwindcss";

.btn-grad {
  background-image: linear-gradient(
    to right,
    #16222a 0%,
    #3a6073 51%,
    #16222a 100%
  );
}

.btn-grad {
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
}

.btn-grad:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}
