@import "tailwindcss";

@theme {
  --font-sans: "Plus Jakarta Sans Variable", "Plus Jakarta Sans", sans-serif;
}

@layer utilities {
  .h-viewport {
    height: 100vh; /* 1. TV & older browsers use this */
    height: 100dvh; /* 2. Modern phones override with this */
  }
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #16222a 0%,
    #3a6073 51%,
    #16222a 100%
  );
}

.btn-grad {
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
}

.btn-grad:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}
